:root {
    --back-color: #1d272a;
    --primary-color: #3c366b;
    --header-back: #5f718d;
    --header-text: #eee;
  }
  
  body {
    background-color: var(--back-color);
    color: var(--primary-color);
  }
  
  header {
    background-color: var(--header-back);
    color: var(--header-text);
  }
  
  .box img {
    border: 2px solid var(--primary-color);
  }

  .menu { /* top bar */
    background-color: #efdfcf;
}
.code{
    color:#A080FF !important;
}
.bottom-bar {
    background-color: #efdfcf;
}

.bottom-name, .menu h1, .bottom-bar {
    color: #585858;
}

p {
    color: #96905f;
}

h2 {
    color: #A080FF;
}


#app { /* main content */
    background-color: black;
}

p.path { /* username */
    color:#A080FF !important;
 
}


#app p { /* main text */
    color: #D0D0FF;
    font-weight: 300;
}

p.path span { /* sudo */
    color: #FFFFFF;
}

p.path span + span { /* directory */
    color: #D0D0FF;
    font-weight: 25px !important;
}

.icone {
    color: #A080FF;
}

input {
    color:#D0D0FF;
}

.error {
    color:    #ff1a8c;
}

.container {
    border: 1px solid #000000;
}

a {
    color: #A080FF;
}

.theme-switches { 
    background-color: #FFFFFF;
}
#switch8{
    background-color: #A080FF;
}
#switch7{
    background-color:#FF6600 ;

}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000;

}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #A080FF;
}