@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --back-color: #1b1b1b;
    --primary-color: #702459;
    --header-back: #874f5e;
    --header-text: #eee;
}

body {
    background-color: var(--back-color);
    color: var(--primary-color);
}

header {
    background-color: var(--header-back);
    color: var(--header-text);
}

.box img {
    border: 2px solid var(--primary-color);
}

.menu {
    /* top bar */
    background-color: black;
}

.bottom-bar {
    background-color: black;
}

.bottom-name,
.menu h1,
.bottom-bar {
    color: white;
}

p {
    color: #96905f;
}

h2 {
    color: lime;
}


#app {
    /* main content */
    background-color: black;
}

p.path {
    /* username */
    color: lime !important;
}

#app p {
    /* main text */
    color: lime;
}

p.path span {
    /* sudo */
    color: lime;
}

p.path span+span {
    /* directory */
    color: lime;
}

.icone {
    color: lime;
}

input {
    color: lime;
}

.error {
    background-color: #;
}

.container {
    border: .5px solid rgb(47, 47, 47);
}

* {
    font-family: "VT323", monospace;
}

.theme-dropdown {
    color: rgb(232, 249, 131);
}

.close {
    border: 1px solid rgb(243, 255, 172);
}

.theme-switches {
    background-color: #000;
    color: white;
}
#switch8{
    background-color: #A080FF;
}
#switch7{
    background-color:#FF6600 ;

}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: black;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #555;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: lime;
}