:root {
    --back-color: #1d272a;
    --primary-color: #f9ffee;
    --header-back: #1a1d24;
    --header-text: #eee;
}

body {
    background-color: var(--back-color);
    color: var(--primary-color);
}

header {
    background-color: var(--header-back);
    color: var(--header-text);
}

.box img {
    border: 2px solid var(--primary-color);
}

.menu {
    /* top bar */
    background-color: #3f545a;
}

.bottom-bar {
    background-color: #0e1314;
}

.menu h1 {
    color: #f9ffee;
}

.bottom-name,
.bottom-bar {
    color: #727272;
}

p {
    color: #f9ffee;
}

#app {
    /* main content */
    background-color: #1d272a;
}

p.path {
    /* username */
    color: #7a9f81 !important;
}

#app p {
    /* main text */
    color: #6e94ad;
}

p.path span {
    color: #ff8800;
}

p.path span+span {
    color: #937aba;
}

.icone {
    color: #6e94ad;
}

input {
    background-color: #;
}

.error {
    background-color: #;
}

.container {
    border: 1px solid #000000;
}

.close {
    border: 1px solid white;
}

.theme-switches {
    background-color: #3f545a;
    color: white;
}
#switch8{
    background-color: #A080FF;
}
#switch7{
    background-color:#FF6600 ;

}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #1d272a;

}

::-webkit-scrollbar {
    width: 8px;
    background-color: #555;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ff8800;
}